 <div class="top">
  <p>
    <%= image_tag ("tegami_bird.png") %>
  </p>
</div>

<div class="row">
    <% @posts.each do |post| %>
      <div class="col-12 post-panel">
        <p><%= post.content %></p>
        <p><%= post.created_at %></p>
        <div class="post-links">
          <%= link_to 'Show', post, class: 'btn btn-default' %>
          <%= link_to 'Edit', edit_post_path(post), class: 'btn btn-info' %> |
          <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
